<div id="<%= dom_id institution %>">
  <p>
    <strong>Name:</strong>
    <%= institution.name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= institution.cnpj %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= institution.ies_type %>
  </p>

</div>
