<div id="<%= dom_id invoice %>">
  <p>
    <strong>Value:</strong>
    <%= invoice.value %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

</div>
